@import url('https://fonts.googleapis.com/css?family=Tangerine');

.App {

}

.App-flowers {
  top: 0px;
  height: 100px;
  align-items: right;
}
.App-map{
  align-items: center;
}

.App-header {
  background-color: #fffcfb;
  height: 100px;
  color: #f9dac9;
}
.App-backdrop{
  background-image: url("old-wood-board-texture.jpg");
}

.App-title {
  text-align: left;
  padding: 25px;
  font-family: Tangerine;
  font-size: 4em;
  font-color:  #f9dac9;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
