
.Eventimages {

}

.Eventimages-backdrop{
}

.Eventimages-map{
    height: 200px;
}

.Eventimages-title {
  text-align: left;
  padding: 25px;
  font-family: Tangerine;
  font-size: 4em;
  font-color:  #f9dac9;
}

.Eventimages-intro {
  font-size: large;
}
